@use '@/scss/index' as *;

.about-content {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  width: 100%;
  flex-wrap: wrap;
  gap: 4em;

  &__info {
    display: flex;
    gap: 2em;
    text-align: justify;
    justify-content: space-between;

    .about-content__text,
    .about-content__img {
      width: calc(50% - 5em);
    }
  }

  .about-content__text {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: justify;
    align-items: flex-start;
    color: $text-color;

    strong {
      color: #fff;
    }

    button {
      margin-top: 2em;
    }
  }

  .about-content__img {
    display: flex;
    justify-content: flex-end;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }

  &__icons {
    width: 100%;

    .icons-info-about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2em;
      width: 100%;

      .icon-item {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;

        h2 {
          font-size: 2em;
          font-weight: 600;
        }

        h4 {
          color: $text-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .about-content {
    &__info {
      flex-direction: column;
      gap: 2em;

      .about-content__text,
      .about-content__img {
        width: 100%;
        align-items: center;
      }
    }

    .about-content__img {
      justify-content: center;
    }
  }
}

@include mobile {
  .about-content {
    &__info {
      .about-content__text,
      .about-content__img {
        width: 100%;
      }
    }

    .about-content__img {
      justify-content: center;
    }

    &__icons {
      .icons-info-about {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 2em;
        text-align: center;

        .icon-item {
          width: 100%;
          h2 {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
