.navigation-menu {
  width: 100%;

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
    gap: 3rem;
  }

  .active {
    color: #09f;
  }
}

@media only screen and (max-width: 800px) {
  .navigation-menu {
    &-list {
      flex-direction: column;

      li {
        animation: fadeIn 0.7s ease forwards;
        a {
          display: block;
          border-bottom: 1px solid rgba(255, 255, 255, 1);
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
