.navigation-menu {
  width: 100%;

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
    gap: 3rem;
  }

  .active {
    color: #09f;
  }
}
