@use '@/scss/index' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GatterSans';
  src: url('../assets/fonts/GatterSans.otf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  color: #fff;
}

::selection {
  color: #ffffff;
  background-color: $secondary-color;
}
