@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GatterSans';
  src: url('../assets/fonts/GatterSans.otf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page {
  width: 100%;
  max-width: 1080px;
  background-color: tomato;
}
