@use '@/scss/index' as *;

.home-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 5em;

  .home-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    margin-top: 2em;
  }

  .services-section {
    margin-top: 1em;

    .services {
      margin-top: 5em;
    }

    .time-lapse {
      position: relative;
      margin-top: 5em;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }
    }
  }

  .about-section,
  .benefits-section,
  .contact-section {
    margin-top: 3em;
  }
}
