@use '@/scss/index' as *;

.section-page {
  width: 100lvw;
  padding: 2em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-content {
    width: 100%;
    max-width: $max-width;
    text-align: start;
    position: relative;

    // blur effect
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 25%;
      width: 20%;
      z-index: -1;
      height: 50px;
      background: rgba($primary-color, 1);
      filter: blur(80px);
    }
  }

  .section-page-background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
    margin: -1em;
  }
}
