$mobile: 600px;
$desktop: 1100px;
$tablet: 750px;

@mixin desktop {
  @media only screen and (max-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}
