// colors
$primary-color: #5918df;
$secondary-color: #e759f7;
$background-color: #06040d;
$border-color: #333;
$text-color: #d9d9d9;
// shadows
$box-shadow: 0 4px 10px rgb($primary-color, 0.2);

// borders
$border-radius: 5px;
$border-radius-xl: 10px;

// breakpoints rules
$mobile-widht: 600px;

// padding and margin rules
$padding-desktop: 0 5em;
$padding-mobile: 0 1em;

// width rules
$mobile-widht: 600px;
$desktop-widht: 1200px;

$max-width: 1080px;
